[report]

omit = 
  src/torus/ml/deployment/deploy_to_docker.py
  src/torus/ml/deployment/server.py
  # FIXME: an internal tracker issue
  src/torus/ml/deployment/deploy_to_aws.py
  src/torus/ml/deployment/utils.py
